/* AddComponent.css */
.add-component-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 8px 24px rgba(0, 0, 255, 0.1);
    color: #003366;
    height: 100%;
}

h2,
h3 {
    text-align: center;
    color: #0055aa;
}

.form-group,
.process-row {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

input,
select {
    padding: 10px;
    border: 2px solid #0055aa;
    border-radius: 8px;
    font-size: 16px;
    color: #003366;
}

input:focus,
select:focus {
    outline: none;
    border-color: #003366;
    box-shadow: 0 0 8px rgba(0, 85, 170, 0.5);
}

.add-process-btn,
.save-btn {
    padding: 12px 20px;
    margin-top: 10px;
    background-color: #0055aa;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s ease;
}

.add-process-btn:hover,
.save-btn:hover {
    background-color: #003366;
}

/* AddMachine.css */
.add-machine-container {
 
    margin: 40px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 8px 24px rgba(0, 0, 255, 0.1);
    color: #003366;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.add-machine-container input {
    padding: 10px;
    border: 2px solid #0055aa;
    border-radius: 8px;
    font-size: 16px;
    color: #003366;
}

.add-machine-container input:focus {
    outline: none;
    border-color: #003366;
    box-shadow: 0 0 8px rgba(0, 85, 170, 0.5);
}

.add-machine-container button {
    padding: 12px;
    background-color: #0055aa;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.add-machine-container button:hover {
    background-color: #003366;
}

/* src/ui/Home.css */
.home-container {
    padding: 20px;
}

.home-header {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
}

.home-button {
    padding: 10px 16px;
    background-color: #0055aa;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.home-button:hover {
    background-color: #003366;
}

.home-content {
    font-size: 24px;
    color: #003366;
}